.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.newsletter p {
  margin: 1rem 0;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 50px;
}

.newsletter-form input {
  all: unset;
  width: 80%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--light);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.newsletter-form button {
  all: unset;
  background-color: var(--red);
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.newsletter-form button:hover {
  background-color: var(--dark);
}
