.why{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem 4rem;
}

.why-info{
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.why-info p{
    margin-top: 2rem;
}

.why-list{
    margin-top: 2rem;
    display: flex;
    column-gap: 2rem;
}

.why-list ul li{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.why-list ul li svg{
    margin-right: 0.3rem;
}

.why .img-container img{
    max-width: 90%;
}

@media screen and (max-width: 900px){
    .why{
        flex-direction: column;
    }
    .why-info{
        max-width: 100%;
        margin-bottom: 2rem;
    }
    .why-info p{
        max-width: 70%;
    }
}

@media screen and (max-width: 650px){
    .why-info p{
        max-width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 400px){
    .why-info p{
        max-width: 100%;
        text-align: justify;
    }
}