.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

.header-text{
    display: flex;
    flex-direction: column;
}

.header-text p {
    margin: 1rem 0;
    max-width: 80%;
}


@media screen and (max-width: 950px) {
    .header{
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;
    }
}

@media screen and (max-width: 550px) {
    .header-text p, .header-text h1{
        max-width: 100%;
        text-align: left;
    }
}